Payment results

<dl>
  <dt>APR</dt>
  <dd>
    <%= @random_min %>
  </dd>

  <dt>Number of years</dt>
  <dd>
    <%= @random_max%>
  </dd>

  <dt>Principal</dt>
  <dd>
    <%= @random_result%>
  </dd>

  <dt>Payment</dt>
  <dd>
    <%= @random_result%>
  </dd>

</dl>

<a href="/payment/new"> 
  Calculate another payment
</a>
