Payment results

<dl>
  <dt>APR</dt>
  <dd>
    <%= (@pay_apr).to_s(:percentage, precision: 4) %>
  </dd>

  <dt>Number of years</dt>
  <dd>
    <%= @pay_n/12%>
  </dd>

  <dt>Principal</dt>
  <dd>
    <%= @pay_pv.to_s(:currency)%>
  </dd>

  <dt>Payment</dt>
  <dd>
    <%= @payment_result.to_s(:currency)%>
  </dd>

</dl>

<a href="/payment/new"> 
  Calculate another payment
</a>
