<h1>Payment form</h1>

<form action="/payment/results">
  <label for="payment_apr">APR</label>
  <input id="payment_apr" type="text" name="payment_apr">

  <label for="payment_years">Number of years</label>
  <input id="payment_years" type="text" name="payment_years">

  <label for="payment_principal">Principal</label>
  <input id="payment_principal" type="text" name="payment_principal">

  <button>Calculate monthly payment</button>
</form>