random results

<dl>
  <dt>Minimum</dt>
  <dd>
    <%= @random_min %>
  </dd>

  <dt>Maximum</dt>
  <dd>
    <%= @random_max%>
  </dd>

  <dt>Maximum</dt>
  <dd>
    <%= @random_result%>
  </dd>

</dl>

<a href="/random/new"> 
  Pick another random number 
</a>
