<h1>random form</h1>

<form action="/random/results">
  <label for="random_min">Minimum</label>
  <input id="random_min" type="text" name="random_min">
  <label for="random_max">Maximum</label>
  <input id="random_max" type="text" name="random_max">

  <button>Pick random number</button>
</form>